h2.hd2 {
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #faf0e6;/*背景色*/
  border-left: solid 10px #0000ff;/*左線（実線 太さ 色）*/
}

h3.hd3 {
  color: #494949;/*文字色*/
  padding: 0.5em;/*上下の余白*/
  border-top: solid 1px #0000ff;/*上線*/
  border-bottom: solid 1px #0000ff;/*下線*/
}

/**** リスト ****/

/**** 目次 ****/
ul.hl {
  border: dashed 1px #0000ff;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
	background-color: #f7f6f5; /*パールホワイト*/
}
ul li.hl{
	font-size: 16px;
}

/**** チェックリスト ****/
ul.a {
  border: solid 2px #0000ff;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
	background-color: #f7f6f5 /*パールホワイト*/
}

ul li.a {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;/*ポチ消す*/
	font-size: 16px;
	font-weight: bold;
}

ul li.a:before {
  font-family: "FontAwesome";
  content: "\f00c";
  position: absolute;
  left : 1em; /*左端からのアイコンまで*/
  color: #0000ff; /*アイコン色*/
}
